DATABASE_URL="postgresql://teamflow:teamflow@localhost:5432/teamflow?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-characters"
TASK_INITIAL_STATUS="TO DO"
BLOB_READ_WRITE_TOKEN=""
MAX_IMAGE_UPLOAD_BYTES="1048576"
